.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.m-0 {
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    display: flex;
    flex-direction: column;
}

.head>div {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(25, 25, 112);
}

.head>.title {
    font-size: xx-large;
}

.head>.authors {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.head>.authors>a {
    margin-left: 1em;
    white-space: nowrap;
    text-decoration: none;
}

.head>.authors>a:first-child {
    margin: 0;
}

.head>.subtitle {
    margin-top: 1em;
    font-style: italic;
}

.head>.subtitle+.subtitle {
    margin-top: 0;
}

details>summary {
    cursor: pointer;
}

details>summary::before {
    content: ">";
    transform: rotate(90deg);
}

details[open]>summary::before {
    content: "<";
    transform: rotate(90deg);
}

.topic {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.topic .topic {
    padding-left: 1rem;
    border: 0;
    border-left: 1pt;
    border-color: rgb(25, 25, 112);
    border-style: solid;
}

.topic>.title {
    font-size: x-large;
    font-variant: small-caps;
    margin-bottom: 5pt;
}

.topic .topic>.title {
    font-size: large;
    font-variant: normal;
    justify-content: start;
}

.content {
    text-align: justify;
}

.topic>.content {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: normal;
}

.topic>.content>.column {
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
}

img {
    max-width: inherit;
}

.image-description {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    font-size: smaller;
}

.table-of-contents a {
    text-decoration: none;
}

.table-of-contents ol {
    list-style: lower-latin;
}

/*phone size*/
.topic>.content>:not(.table-of-contents) {
    max-width: 100vw;
}

/*> phone size*/
@media(min-width: 600px) {
    .topic>.content>:not(.table-of-contents) {
        max-width: 90vw;
    }
}

/*> tablet size*/
@media(min-width: 900px) {
    .topic>.content>:not(.table-of-contents) {
        max-width: 70vw;
    }
}

/*> regular size*/
@media(min-width: 1800px) {
    .topic>.content>:not(.table-of-contents) {
        max-width: 40vw;
    }
}


/*> xxl size*/
@media(min-width: 2400px) {
    .topic>.content>:not(.table-of-contents) {
        max-width: 30vw;
    }
}